@import url('https://fonts.googleapis.com/css2?family=Anton+SC&display=swap');
$space-color: #000022;

$planet-color: #ff0000;
$star-color: #ffff00;

body {
    background-color: $space-color;
}

.planet {
    color: $planet-color;
}

.star {
    color: $star-color;
}

.planet {
    .planet-info {
        .planet-earth {
            transition: transform 0.5s ease-in-out;
    &hover{
        background-color: rgba(255, 0, 0, 0.5);
        transform: scale(1.1);
          }
    
            background-image: url('earth.jpg');
            background-size: cover;
            color: white;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
            h3 {
                font-size: 24px;
                text-align: center;
                display:flex;
                justify-content:center;
                .anton-sc-regular {
                    font-family: "Anton SC", sans-serif;
                    font-weight: 400;
                    font-style: normal;
                  }
            }

            }
            p {
                
                
            
        }
    }
}







.star{
  .star-info{
    .star-sun{

         
        }
    }
}